.main {
    height: 100%;
    margin-top: 4em;
  }
  .techsection {
    width: 100%; height: 100vh;
    text-align: center;
    /* background-color: #23283e; */
  }
  
  .techsection > div {
    width: 7vw; height: 15vh;
    padding: 5px;
    max-height: 140px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 1;
    border-radius: 20px;
    margin: 2.5%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease 0s;
  }
  .techsection > div:hover {
    background-color: #23283e;
    overflow: hidden;
    transform: scale(1.08);
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 1px solid #90a0d9;
  }
  
  .techsection > div > svg {
    font-size: 6vh;
    color: #90a0d9;
  }
  .techsection > div > h6 {
    color: white;
    position: relative;
    top: 5px;
  }
  
  @media (max-width: 600px) {
    .techsection {
      height: 120vh;
    }
    .techsection > div {
      width: 40%;
      margin-right: 5%;
      margin-bottom: 2%;
      height: 18vh;
    }
  }
  