*{
  border: border-box;
  padding: 0; margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar{
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #d6d6d6;
  border-radius: 10px;
}

/**navbar-section**/
.navbar{
  height: 10vh; width: 100%;
  background-color: #fff;
  background-size: contain;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  position: fixed;
}
.nav-options{
  height: 100%; width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  color: #000;
}
.nav-item{
  width: 100%;
}
.nav-item-container{
  width: 100%;
}
.nav-item a{
  text-decoration: none;
  color: #000;
}
.nav-item::before{
  content: "";
  position: absolute;
  height: 5px; width: 100%;
  background: #000;
  border-radius: 12px;
  transform: scale(0%);
  transition: all 1s ease;
}
.nav-item::before{
  bottom: 0; left: 0;
}
.nav-item:hover::before{
  transform: scale(100%);
}

/**hero-section**/
.hero-section{
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
}

.about-section{
  display: grid;
  gap: 10px;
}
.about-greeting{
  font-size: 1.5rem;
  color: #000;
}
.about-name{
  font-size: 3rem;
  color: #080130;
}
.about-profession{
  font-size: 1.5rem;
  font-weight: 600;
  color: #080130;
}
.about-info{
  font-size: 1.5rem;
  color: #000;
}

.social-media{
  height: 5vh; width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}
.social-media a{
  width: 100%;
  color: #000;
}
.social-media-icon{
  width: 100%;
}
.social-media-icon::before{
  content: "";
  position: absolute;
  height: 5px; width: 20%;
  background: #000;
  border-radius: 12px;
  transform: scale(0%);
  transition: all 1s ease;
}
.social-media-icon::before{
  bottom: 0; left: 0;
}
.social-media-icon:hover::before{
  transform: scaleX(100%);
}

.hero-image{
  height: 300px; width: 330px;
}


/**Skills-section**/
.skills-header{
  height: 100%;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600; 
  margin: 3% 2%;
}

.skills{
  height: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0% 5%;
}
.container{
  height: 10vh; width: 30%;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin: 2% 0%;
  box-shadow:
  inset 4px 4px 4px #d6d6d6,
   8px 8px 8px #d6d6d6;
  overflow-y: scroll;
  transition: 0.5s linear;
}
.container:hover{
  height: 20vh;
}
.container::-webkit-scrollbar{
  background: transparent;
  width: 0%;
}
.skill-name{
  height: 100%; width: 100%;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-skill{
  height: 100%;
  overflow-y: scroll;
}
.about-skill::-webkit-scrollbar{
  background: transparent;
  width: 0%;
}


/**projects-section**/
.projects-header{
  height: 100%;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600; 
  margin: 3% 2%;
}


.projects{
  height: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0% 6%;
}
.project-container{
  height: 20vh; width: 45%;
  border-radius: 12px;
  box-shadow:
  inset 5px 2px 5px #d6d6d6,
   5px 5px 5px #d6d6d6;
   margin: 2% 0%;
  display: flex;
  justify-content: space-evenly;
}
.icon-container{
  height: 100%; width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container i{
  font-size: 3rem;
  color: #000;
}
.project-info{
  color: #fff;
  font-weight: 600;
  padding: 5% 2%;
}
.project-info p{
  color: #000;
}
.project-info a{
  text-decoration: none;
}

/**Contact section**/
.contact-header{
  height: 100%;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600; 
  margin: 3% 2%;
}

.contact{
 height: 50vh; width: 100%;
 display: grid;
 grid-template-columns: repear(1,1fr);
 row-gap: 0%;
}
.contact input{
  height: 100%; width: 50%;
  font-size: 1rem;
  border: none;
  text-decoration: underline #000;
  margin: 0.5% 6%;
  background: transparent;
}
.submit-button{
  height: 80%; width: 15%;
  margin-left: 40%;
  margin-top: 1%;
  border-radius: 12px;
  color: #fff;
  background-color: #000;
  font-weight: 550;
}

/**footer**/
.footer{
  height: 100%;
  background-color: #000;
  margin-top: 5%;
  padding: 5% 0%;
  display: grid;
  grid-column: 1;
  place-items: center;
  row-gap: 25%;
}
.footer-content{
  color: #fff;
}
.footer i{
  color: #fff;
  display: flex;
  gap: 10%;
}